<div class="container-fluid">
    <ul class="nav nav-tabs" id="profileTab" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile-tab-pane"
                type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="true"><i
                    class="bi bi-person mx-2"></i>{{ _("Profile") }}</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="password-tab" data-bs-toggle="tab" data-bs-target="#password-tab-pane"
                type="button" role="tab" aria-controls="password-tab-pane" aria-selected="false"><i
                    class="bi bi-key mx-2"></i>{{ _("Password") }}</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="permissions-tab" data-bs-toggle="tab" data-bs-target="#permissions-tab-pane"
                type="button" role="tab" aria-controls="password-tab-pane" aria-selected="false"><i
                    class="bi bi-card-list mx-2"></i>{{ _("Permissions") }}</button>
        </li>
    </ul>
    <div class="tab-content" id="profileTabContent">
        <div class="tab-pane fade" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">
            <form role="form" class="form-control my-3 py-3"
                hx-patch="{{ url_for('update_user_info', user_id=user.id) }}">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="display_name" name="display_name"
                        aria-describedby="displayNameHelp" value="{{ user.display_name }}" required>
                    <label for="display_name">{{ _("Display Name") }}:</label>
                    <small id="displayNameHelp" class="form-text text-muted">{{ _("This is the name everyone will be able to see you. Example: \"Dmitry Ivanov\"") }}</small>
                </div>
                <div class="form-floating mb-3">
                    <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp"
                        value="{{ user.email }}" required>
                    <label for="email">{{ _("Email") }}:</label>
                    <small id="emailHelp" class="form-text text-muted">{{ _("Email can be used as login and will be visible to all users") }}</small>
                </div>
                <div class="form-floating mb-3">
                    <textarea rows="3" style="height:initial" class="form-control" id="contacts" name="contacts"
                        aria-describedby="contactsHelp">{{ user.contacts if 'contacts' in user }}</textarea>
                    <label for="contacts">{{ _("Contacts") }}:</label>
                    <small id="contactsHelp" class="form-text text-muted">{{ _("Contacts will be visible to all users. Can be empty.") }}</small>
                </div>
                <div class="d-grid pt-3">
                    <button type="submit" class="btn btn-primary">{{ _("Save") }}</button>
                </div>
            </form>
        </div>
        <div class="tab-pane fade" id="password-tab-pane" role="tabpanel" aria-labelledby="password-tab" tabindex="0">
            <form role="form" class="form-control my-3 py-3"
                hx-patch="{{ url_for('update_user_password', user_id=user.id) }}">
                <div class="input-group mb-3" data-password-root>
                    <div class="form-floating">
                        <input class="form-control" type="password" id="old" name="password_old" required data-password-old>
                        <label for="old">{{ _("Old password") }}:</label>
                    </div>
                    <button type="button" class="btn btn-outline-secondary" data-password-show tabindex="-1">
                        <i class="bi bi-eye"></i>
                    </button>
                </div>
                <div class="input-group mb-3" data-password-root>
                    <div class="form-floating">
                        <input class="form-control" type="password" id="new" name="password_new" required data-password-new>
                        <label for="new">{{ _("New password") }}:</label>
                    </div>
                    <button type="button" class="btn btn-outline-secondary" data-password-show tabindex="-1">
                        <i class="bi bi-eye"></i>
                    </button>
                </div>
                <div class="input-group mb-3" data-password-root>
                    <div class="form-floating">
                        <input class="form-control" type="password" id="confirm" name="password_repeat" required
                            data-password-confirm>
                        <label for="confirm">{{ _("Confirm password") }}:</label>
                    </div>
                    <button type="button" class="btn btn-outline-secondary" data-password-show tabindex="-1">
                        <i class="bi bi-eye"></i>
                    </button>
                </div>
                <div class="d-grid pt-3">
                    <button type="submit" class="btn btn-warning">{{ _("Update password") }}</button>
                </div>
            </form>
        </div>
        <div class="tab-pane fade" id="permissions-tab-pane" role="tabpanel" aria-labelledby="permissions-tab" tabindex="0" style="padding:1em">
            <style>
                #permissions-tab-pane>button{
                    height: 4em;
                }
                #permissions-tab-pane>button.htmx-request>span {
                    display: none;
                }
                #permissions-tab-pane .spinner-border {
                    display: none;
                    margin: 0.3em auto;
                }
                #permissions-tab-pane>button>.spinner-border.htmx-request {
                    display: inherit;
                }
            </style>
            <button hx-get="{{ url_for('permissions', domain='git') }}" hx-target="next" class="btn btn-primary" hx-indicator="#spinner1">
                <span>Git</span> <div id="spinner1" class="htmx-indicator spinner-border text-info" role="status"></div></button>
            <div></div>
            <button hx-get="{{ url_for('permissions', domain='storage') }}" hx-target="next" class="btn btn-primary" hx-indicator="#spinner2">
                <span>{{ _("Storage") }}</span> <div id="spinner2" class="htmx-indicator spinner-border text-info" role="status"></div></button>
            <div></div>
        </div>
    </div>
</div>