<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='css/bootstrap-icons.min.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='css/base.css') }}" rel="stylesheet">
        <script src="{{ url_for('static', filename='js/htmx.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
        <script type="module" src="{{ url_for('static', filename='js/main.js') }}"></script>
        <script src="{{ url_for('static', filename='js/switch_theme.js') }}"></script>
    </head>
    <body>
        {% include "includes/navigation.html" %}
        <div class="" style="margin-top: 56px;">
            <div class="content flex-grow-1 p-4">
                {% block content %}{% endblock %}
                {% include "includes/toast_container.html" %}
            </div>
        </div>
        {% include "forms/base_modal.html" %}
    </body>

    <script>
    document.addEventListener("htmx:confirm", function(e) {
        if (!e.detail.question) return
        e.preventDefault()

        const modal = document.getElementById("modalContent");
        modal.innerHTML = `
            <div class="modal-header">
                <h1 class="modal-title fs-5">Title</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Question
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Confirm</button>
            </div>
        `;
        // document.getElementById("baseModal").classList.toggle("modal");
        console.log("FINISH");
        // const bsModal = new bootstrap.Modal(modal);
        // bsModal.show();

        // Swal.fire({
        //   title: "Proceed?",
        //   text: `I ask you... ${e.detail.question}`
        // }).then(function(result) {
        //   if (result.isConfirmed) {
        //     // If the user confirms, we manually issue the request
        //     e.detail.issueRequest(true); // true to skip the built-in window.confirm()
        //   }
        // })
    })
    </script>


    <script>
        document.addEventListener("show.bs.collapse", e => {
            const icon = document.querySelector(
                `[data-bs-target="#${e.target.id}"] .folder-check`
            );
            icon?.classList.replace("bi-folder-plus", "bi-folder-minus");
        });

        document.addEventListener("hide.bs.collapse", e => {
            const icon = document.querySelector(
                `[data-bs-target="#${e.target.id}"] .folder-check`
            );
            icon?.classList.replace("bi-folder-minus", "bi-folder-plus");
        });

    </script>
</html>