{% extends 'base.html' %}
{% block content %}

<div class="container-fluid col-md-6">
    <div class="row">
        <form role="form" method="POST" class="form-control">
            <input type="hidden" value="{{ csrf }}" name="csrf_token">
            <legend>Create Invite</legend>
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="project_id" name="project_id" value="{{ form['project_id'] if form }}" required>
                <label for="project_id">Project ID:</label>
            </div>
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="prompt" name="prompt" value="{{ form['prompt'] if form }}" required>
                <label for="prompt">Prompt:</label>
            </div>
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="default_username" name="default_username" value="{{ form['default_username'] if form }}" required>
                <label for="default_username">Username:</label>
            </div>
            <div class="form-floating mb-3">
                <input type="email" class="form-control" id="default_email" name="default_email" value="{{ form['default_email'] if form }}" required>
                <label for="default_email">email:</label>
            </div>
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="default_display_name" name="default_display_name" value="{{ form['default_display_name'] if form }}" required>
                <label for="default_display_name">Display name:</label>
            </div>
            <!-- <div class="form-check mb-3">
                <input type="checkbox" class="form-check-input" id="is_user" name="is_user">
                <label class="form-check-label" for="is_user">user</label>
            </div> -->
            <div class="form-check mb-3">
                <input type="checkbox" class="form-check-input" id="is_manager" name="is_manager">
                <label class="form-check-label" for="is_manager">manager</label>
            </div>
            <div class="form-check mb-3">
                <input type="checkbox" class="form-check-input" id="is_admin" name="_isadmin">
                <label class="form-check-label" for="is_admin">admin</label>
            </div>
            <div class="d-grid pt-3">
                <button type="submit" class="btn btn-primary">Invite</button>
            </div>
        </form>
    </div>
</div>

{% endblock content %}