{% extends 'base.html' %}
{% block content %}
<div class="col-md-6 justify-content-center">
    <div class="row">
        <div class="col-md-2">
            user ID: {{ user['id'] }}
        </div>
        <div class="col-md-4" title="{{ user['username'] }}">
            {{ user['display_name'] }}
        </div>
        <div class="col-md-6">
            {{ user['email'] }}
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-2">
        {% macro render_tree(node) %}
        <li>
            {% if node.children %}
                <span class="toggle" data-bs-toggle="collapse" data-bs-target="#node{{ node.id }}">
                    <i class="bi bi-folder-plus folder-check fs-4"></i>
                </span>
                <a class="icon-link icon-link-hover" href="#" hx-get="/project/{{ node.id }}" hx-trigger="click" hx-target="#parent-div">
                    {{ node.display_name }}
                    <svg xmlns="http://www.w3.org/2000/svg" class="bi" viewBox="0 0 16 16" aria-hidden="true">
                        <path d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
                    </svg>
                </a>

                <ul id="node{{ node.id }}" class="collapse list-unstyled ms-4">
                    {% for child in node.children %}
                        {{ render_tree(child) }}
                    {% endfor %}
                </ul>
            {% else %}
                <i class="bi bi-folder fs-4"></i>
                <a class="icon-link icon-link-hover" href="#" hx-get="/project/{{ node.id }}" hx-trigger="click" hx-target="#parent-div">
                    {{ node.display_name }}
                    <svg xmlns="http://www.w3.org/2000/svg" class="bi" viewBox="0 0 16 16" aria-hidden="true">
                        <path d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
                    </svg>
                </a>
            {% endif %}
        </li>
        {% endmacro %}


        <ul class="folder-tree list-unstyled">
            {% for node in projects %}
                {{ render_tree(node) }}
            {% endfor %}
        </ul>
    </div>
    <div class="col-md-10">
        <div id="parent-div">

        </div>
    </div>
</div>

{% endblock content %}
