<table class="table table-hover">
    <thead>
        <tr>
            <th class="col-2">Name</th>
            {% for role in context.roles %}
            <th class="text-center">{{ role.name }}</th>
            {% endfor %}
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for member in context.members %}
        <tr>
            <td title="{{ member.username }}:{{ member.id }}">{{ member.display_name }}</td>
            {% for role in context.roles %}
            <td class="text-center">
                {% if member.id in role.users %}
                <i class="bi bi-check-lg"></i>
                {% endif %}
            </td>
            {% endfor %}
            <td>
                <button class="btn btn-table pe-3"
                    hx-get="{{ url_for('get_manage_user_roles_form', project_id=context.project_id, user_id=member.id) }}"
                    hx-target="#modalContent" data-bs-toggle="modal" data-bs-target="#baseModal">
                    <i class="bi bi-pen-fill"></i>
                </button>
                <button class="btn btn-table">
                    <i class="bi bi-trash3"></i>
                </button>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>