<div class="row">
    <div class="col-8 p-2">
        <div class="row">Project ID: {{ context.project_id }}</div>
        <div class="row">Project name: {{ context.project_name }}</div>
        <div class="row">Display_name: {{ context.display_name }}</div>
        <div class="row">Description: {{ context.description if context.description else ""}}</div>
    </div>
    <div class="col-3 p-2">
        <div class="row p-2">
            <button class="btn btn-secondary"
                hx-get="{{ url_for('get_edit_project_form', project_id=context.project_id) }}" hx-target="#modalContent"
                data-bs-toggle="modal" data-bs-target="#baseModal">Edit</button>
        </div>
        <div class="row p-2">
            <button class="btn btn-secondary"
                hx-get="{{ url_for('get_new_project_form', parent_id=context.project_id) }}" hx-target="#modalContent"
                data-bs-toggle="modal" data-bs-target="#baseModal">Create child</button>
        </div>
    </div>
</div>