<form class="form-control roles-form" data-role-editor-root>
    <input type="hidden" name="user_id" value="{{ user['id'] }}">
    <!-- <input type="hidden" name="added_roles" value=""> -->
    <!-- <input type="hidden" name="removed_roles" value=""> -->
    {% for role in roles %}
    <div class="form-check">
        <label class="form-check-label">
            <input
                class="form-check-input"
                type="checkbox"
                data-role-checkbox
                data-role-id="{{ role['id'] }}"
                name="{{ role['id'] }}"
                value="{{ role['id'] }}"
                {% if user['id'] in role['users'] %}checked{% endif %}
            >
            {{ role['name'] }}
        </label>
    </div>
    {% endfor %}
    <button class="btn btn-success" type="submit" data-role-submit disabled>
        Save
    </button>
</form>
