{% extends "modal/modal_template.html" %}
{% block title %}
{% if form %}{{ _("Update Invite in this project") }}{% else %}{{ _("Create Invite to this project") }}{% endif %} ({{ _("Project ID") }}: {{ project_id }})
{% endblock title %}
{% from 'macros/roles.html' import role_tooltip %}
{% block form %}
<form role="form" class="form-control" {% if form %}hx-patch="{{ url_for('invite_update', invite_id=form.id) }}"{% else %}hx-post="{{ url_for('invite_new') }}"{% endif %} hx-target="#modalContent" id="role-form">
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="prompt" name="prompt" value="{{ form.prompt if form else _('Registration') }}">
        <label for="prompt">{{ _("Prompt") }}:</label>
    </div>
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="default_display_name" name="default_display_name" value="{{ form.default_display_name if form }}" required autofocus>
        <label for="default_display_name">{{ _("Display Name") }}:</label>
    </div>
    {% set is_new = form.for_new_user if form else True %}
    <div class="form-floating mb-3">
        <div class="btn-group" role="group" aria-label="Existing user button group">
            <input type="radio" class="btn-check{% if is_new %} active{% endif %}" name="for_new_user" value="true" id="btnradio_new"{% if is_new %} checked{% endif %}>
            <label class="btn btn-outline-info" for="btnradio_new">{{ _('New User') }}</label>
            <input type="radio" class="btn-check{% if not is_new %} active{% endif %}" name="for_new_user"  value="false" id="btnradio_existing"{% if not is_new %} checked{% endif %}>
            <label class="btn btn-outline-info" for="btnradio_existing">{{ _('Existing User') }}</label>
        </div>
    </div>
    <div class="new_user_values"{% if not is_new %} style="display: none"{% endif %}>
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="default_username" name="default_username" value="{{ form.default_username if form }}">
        <label for="default_username">{{ _("Username") }}:</label>
    </div>
    <div class="form-floating mb-3">
        <input type="email" class="form-control" id="default_email" name="default_email" value="{{ form.default_email if form }}">
        <label for="default_email">{{ _("Email") }}:</label>
    </div>
    </div>
    <div class="mb-3">
        <label class="mb-2">{{ _("Auto add roles") }}</label>
        {% for role in roles %}
        <div class="form-check">
            <label class="form-check-label" data-bs-toggle="tooltip" data-bs-html="true" data-bs-title="{{ role_tooltip(role) }}">
                <input type="checkbox" class="form-check-input" name="role" value="{{ role.name }}" data-role-checkbox{% if form and role.name in form.roles %} checked{% endif %}>
                {{ role.name }}
            </label>
        </div>
        {% endfor %}
    </div>
    {% if not form %}<input type="hidden" name="project_id" value="{{ project_id }}">{% endif %}
</form>
<script>
(function(){
    let frm = document.currentScript.previousElementSibling;
    frm.querySelectorAll('[data-bs-toggle="tooltip"]'
    ).forEach(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl));
    frm.querySelector('.btn-group').addEventListener('change', e =>
        frm.querySelector('.new_user_values').style.display = e.target.value == "true" ? "" : "none"
    );
})();
</script>
{% endblock form %}
{% block buttons %}
{% if form %}
<button type="submit" form="role-form" class="btn btn-warning">{{ _("Update Invite") }}</button>
{% else %}
<button type="submit" form="role-form" class="btn btn-success">{{ _("Create Invite") }}</button>
{% endif %}
{% endblock buttons %}