{% extends "modal/modal_template.html" %}
{% block title %}
Create Invite to {{ project_name }} (Project ID: {{ project_id }})
{% endblock title %}

{% block form %}
<form role="form" class="form-control" hx-post="{{ url_for('invite_new') }}" hx-target="#modalContent" id="role-form">
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="prompt" name="prompt" value="{{ form['prompt'] if form }}" >
        <label for="prompt">Prompt:</label>
    </div>
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="default_username" name="default_username" value="{{ form['default_username'] if form }}">
        <label for="default_username">Username:</label>
    </div>
    <div class="form-floating mb-3">
        <input type="email" class="form-control" id="default_email" name="default_email" value="{{ form['default_email'] if form }}">
        <label for="default_email">email:</label>
    </div>
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="default_display_name" name="default_display_name" value="{{ form['default_display_name'] if form }}">
        <label for="default_display_name">Display name:</label>
    </div>
    <input type="hidden" name="project_id" value="{{ project_id }}">
</form>
{% endblock form %}
{% block buttons %}
<button type="submit" class="btn btn-primary" form="role-form">Create Invite</button>
{% endblock buttons %}