{% extends "modal/modal_template.html" %}
{% block title %}
{% if form %}
Update Role
{% else %}
Create Role
{% endif %}
{% endblock title %}
{% block form %}
<form role="form" class="form-control" id="role-form" {% if form %}hx-patch="{{ url_for('role_update', role_id=role_id) }}"{% else %}hx-post="{{ url_for('role_new') }}"{% endif %}>
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="name" name="name" value="{{ form['name'] if form }}" required>
        <label for="name">Role name:</label>
    </div>
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="description" name="description"
            value="{{ form['description'] if form}}">
        <label for="description">Description:</label>
    </div>
    <div class="form-floating mb-3">
        <select class="form-select" id="permissions_api" name="permissions_api">
            {% for option in api_options %}
            <option value="{{ option['name'] }}" {% if form.permissions_api == option.name %}selected{% endif %}>{{ option['name'] }}</option>
            {% endfor %}
        </select>
        <label for="permissions_api">API permissions:</label>
    </div>
    <div class="form-floating mb-3">
        <textarea rows="5" class="form-control" id="permissions_git"
            name="permissions_git">{{ form['permissions_git'] if 'permissions_git' in form }}</textarea>
        <label for="address">Git permissions:</label>
    </div>
    <div class="form-floating mb-3">
        <textarea rows="5" class="form-control" id="permissions_storage"
            name="permissions_storage">{{ form['permissions_storage'] if 'permissions_storage' in form }}</textarea>
        <label for="address">Storage permissions:</label>
    </div>
    <div class="form-floating mb-3">
        <textarea rows="5" class="form-control" id="permissions_extra"
            name="permissions_extra">{{ form['permissions_extra'] if 'permissions_extra' in form }}</textarea>
        <label for="address">Extra permissions:</label>
    </div>

    {% if not form %}
    <input type="hidden" name="project_id" value="{{ project_id }}">
    {% endif %}
</form>
{% endblock form %}
{% block buttons %}
{% if form %}
<button type="submit" form="role-form" class="btn btn-warning">Update Role</button>
{% else %}
<button type="submit" form="role-form" class="btn btn-success">Create Role</button>
{% endif %}
{% endblock buttons %}