{% extends "modal/modal_template.html" %}
{% block title %}
{% if edit_mode %}
Update Project info
{% else %}
Create Project
{% endif %}
{% endblock title %}

{% block form %}
<form id="project-form" role="form" class="form-control" {% if edit_mode
    %}hx-patch="{{ url_for('update_project', project_id=context.project_id) }}" {% else
    %}hx-post="{{ url_for('create_project')}}" {% endif %}>
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="project_name" name="name" value="{{ context.name if context.name }}"
            required autofocus>
        <label for="project_name">Name:</label>
    </div>
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="display_name" name="display_name"
            value="{{ context.display_name if context.display_name }}" required>
        <label for="display_name">Display name:</label>
    </div>
    <div class="form-floating mb-3">
        <textarea rows="5" class="form-control" id="description"
            name="description">{{ context.description if context.description }}</textarea>
        <label for="description">Description:</label>
    </div>
    {% if not edit_mode %}
    <div class="form-floating mb-3">
        <input type="hidden" class="form-control" name="parent_id" value="{{ context.parent_id if context.parent_id }}"
            required>
    </div>
    {% endif %}
</form>
{% endblock form %}
{% block buttons %}
<button type="submit" class="btn btn-primary" form="project-form">{% if edit_mode %}Update{% else %}Create{% endif
    %}</button>
{% endblock buttons %}